<ul class="nav navbar-nav">
  <li><%= link_to 'Articles', admin_articles_path %></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      System <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">User</a></li>
    </ul>
  </li>
</ul>